$aijs-scroll-width: 0.625rem;

.aijs-scroll {
  overflow-y: auto;
}

/* scrollbar */
.aijs-scroll::-webkit-scrollbar {
  width: $aijs-scroll-width;
}

/* track */
.aijs-scroll::-webkit-scrollbar-track {
  background: $gray-900;
}

/* thumb (drag) */
.aijs-scroll::-webkit-scrollbar-thumb {
  background: $gray-800;
  border-radius: $aijs-scroll-width;
  border: 0.125rem solid $gray-900;
}

/* thumb on hover */
.aijs-scroll::-webkit-scrollbar-thumb:hover {
  background: $gray-700;
}